<h1>SITE MAP</h1>

<!--ホーム画面-->
<a href="https://fc932853d18f4bd380370fd0ec675c31.vfs.cloud9.ap-southeast-1.amazonaws.com/tweets">ホーム画面</a><br><br>
タスク
<ul>
<li>表示されている投稿に、SHOW,EDIT,DESTROYボタンを実装する</li>
<li>ロゴ：Blogボタンを押すとホーム画面に戻る機能</li>
<li>ログイン関連機能：SignIn,SignOut,Newボタンで会員状態を遷移できる機能</li>
<li>CSS：未適用</li>
</ul>
<br>

<!--会員登録画面-->
<a href="https://fc932853d18f4bd380370fd0ec675c31.vfs.cloud9.ap-southeast-1.amazonaws.com/signin">会員登録画面</a><br><br>
タスク
<ul>
<li>会員登録機能の実装：詳細な指定は無いが、投稿画面で複雑な情報は求められていない</li>
</ul>
<br>

<!--新規投稿画面-->
<a href="https://fc932853d18f4bd380370fd0ec675c31.vfs.cloud9.ap-southeast-1.amazonaws.com/new">新規投稿画面</a><br><br>
タスク
<ul>
<li>テキストと送信ボタンのみ</li>
</ul>
<br>

<!--ログイン画面-->
<a href="https://fc932853d18f4bd380370fd0ec675c31.vfs.cloud9.ap-southeast-1.amazonaws.com/login">ログイン画面</a><br><br>
タスク
<ul>
<li>会員登録機能の実装：詳細な指定は無いが、投稿画面で複雑な情報は求められていない</li>
</ul>
<br>

<!--投稿の個別表示画面-->
<a href="https://fc932853d18f4bd380370fd0ec675c31.vfs.cloud9.ap-southeast-1.amazonaws.com/show">投稿の個別表示画面</a>
タスク
<ul>
表示されている投稿：送信ボタン</li>
</ul>
<br>